@import 'normalize-css/normalize';
@import 'bourbon/bourbon';
@import 'bitters/bitters';
@import 'neat/neat';
$sans-serif: 'Questrial', sans-serif;
$serif: 'Sanchez', serif;
$type-ratio: 1.250; // Major third
$base-border-color: #ccc;
$section-color: rgba(64, 141, 210, 0.2);
$grid-items-border-color: $section-color;
$grid-items-background: rgba(38, 83, 124, 1);
$grid-item-background: desaturate($grid-items-background, 20); 
$background-from-list: $grid-item-background;
$grid-item-colors: 
    rgb(83,106,139),
    rgb(98, 90, 146),
    rgb(75, 135, 123), 
    rgb(73, 85, 104),
    rgb(83, 78, 109), 
    rgb(67, 101, 94);
  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: rgba(255, 255, 255, 1); // Text color.
  $grid-item-height: 14em;

  $card-background-color: #fff;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;

.show {
    display: block;
}

.hide {
  display: none;
}
body {
  $sans-serif: 'Nunito', sans-serif;
  $sans-serif-2: 'Varela Round', sans-serif;

  @include clearfix;
  text-align: left;

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .3em 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    font-family: $sans-serif-2;
    font-size: 1.8em;
    margin-bottom: .5em;

    @include media($medium-screen) {
      font-size: 2.4em;
    }
  }

  h2 {
    font-family: $sans-serif-2;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: .6em;

    @include media($medium-screen) {
      font-size: 1.4em;
    }
  }

  h3 {
    font-family: $sans-serif-2;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0;
  }

  p.date {
    color: transparentize($base-font-color, .6);
    font-family: $sans-serif;
    font-size: .9em;
    margin-bottom: .3em;
  }

  p {
    font-family: $sans-serif;
    line-height: 1.4em;
    font-size: 1.05em;
    font-weight: 300;
    margin-bottom: 1.5em;

    span {
      font-family: $sans-serif-2;
      text-transform: uppercase;
      font-size: 0.8em;
    }
  }

  a.read-more {
    display: inline-block;
    font-family: $sans-serif-2;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative;

    span {
      position: absolute;
      font-size: 1.5em;
      top: -1px;
      right: -12px;
    }
  }
  
  hr {
    width: 3em;
  }

  p.author {
    font-family: $sans-serif;
  }
}

.grid-items {
  @include outer-container;
  $transparency-top: 1;
  $image-gradient-color-bottom: #000; 
  $transparency-bottom: 0.5;
  $background-transparency: 0.5;
  $vertical-angle: 180deg;
    
  .grid-item {
    @include media ($medium-screen) {
      @include span-columns(4);
      @include omega(3n);
    }
    height: $grid-item-height;
    width: 100%;
    overflow: hidden;
    float: left;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1em;
    @include perspective(1000px);

    //@for $i from 1 to 7 { 
      // assign colors from $grid-item-colors list
      //&:nth-child(#{$i}) {
        //$background-from-list: nth($grid-item-colors, $i);
        
        .front {
          box-shadow: inset 0px 0px 1px 2px darken($background-from-list, 10);
          .overlay {
            @include transition (all 0.5s ease-in-out);
            background-color: transparentize($background-from-list, .4);
            display: block;
            @include position(absolute, 0px 0px 0px 0px);

            &:hover {
              background-color: transparentize($background-from-list, 1);
              //@include linear-gradient($vertical-angle, transparentize($background-from-list, 1), transparentize($image-gradient-color-bottom, 1));
            }
          }
        }
      //}
    //}

    a {
      font-size: modular-scale($base-font-size, 0, $type-ratio);
      padding: $base-line-height/3 $gutter/2;
    }

    .title {
        @include transition (all 0.4s ease-out);
        position: absolute;
        z-index: 999;
        bottom: 0;
        text-align: center;
        width: 100%;
        background-color: transparentize(black, .6);
        h3 {
          padding: 1em 2em;
          position: relative;
          font-weight: 800;
          font-size: modular-scale($base-font-size, -2, $type-ratio);
          color: $grid-item-color;
          margin-bottom: 0;
        }
      }
      
      
    /* front pane, placed above back */
    .front {
      @include transition (all 0.4s ease-out);
      top: 0;
      left: 0;
      z-index: 900;
      position: absolute;
      height: 100%;
      width: 100%;
      @include backface-visibility(hidden);
      background: $grid-item-background;
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;

      &:hover {
        .title {
          background-color: transparentize(black, 0);
        }
      }
    }

    /* back, initially hidden pane */
    .back {
      @include transition (all 0.4s ease-out);
      z-index:700;
      border: $card-border;
      position: absolute;
      background-color: $card-background-color;
      box-shadow: 0 2px 4px darken($base-body-color, 10);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      font-size: modular-scale($base-font-size, 0, $type-ratio);
      font-weight: normal;
      @include transform(rotateY(-180deg));
      @include backface-visibility(hidden);
      text-align: left;
      .header {
        padding: $base-line-height/3 $gutter/2;
        border-bottom: $card-border; 
      }

      p {
        font-size: modular-scale($base-font-size, -1, $type-ratio);
        padding: $base-line-height/2 $gutter/2;
      }
    }

    &.flip .back {
      z-index: 900;
      @include transform(rotateY(0deg));
    }

    &.flip .front {
      z-index: 700;
      @include transform(rotateY(180deg));
    }

  }

}

body {
    background: url("/img/css/parchment.png") repeat fixed 0 0 transparent;
    @include clearfix;
    text-align: left;
    font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
}

.container {
    border-left: 9px solid #000;

    $navigation-color: #000;
    $navigation-height: 35px;
    $navigation-color-hover: #fff;

    >header {
        background-color: $navigation-color;
        color: #fff;
        height: 53px;
        position: fixed;
        width: 100%;
        top: 0;
        padding: 14px 0 0 0;
        z-index: 1;

        &:before {
          background: none repeat scroll 0 0 #000000;
          border-left: 1px solid #000000;
          content: "";
          height: 42px;
          left: -37px;
          position: absolute;
          top: 45px;
          width: 24px;
          border-radius: 150px 0 125px 0;
          z-index: 1;
          @include transform(skewY(-190deg));
          border-width: 30px;
        }

        &:after {
          -moz-transform: skew(-3deg, -3deg);
          -moz-transform-origin: left top;
          background: transparent;
          border-color: #000000;
          border-radius: 65px 0 0 0;
          border-style: solid;
          border-width: 18px 0 0 1px;
          content: "";
          height: 40px;
          left: -1px;
          position: absolute;
          top: 35px;
          width: 90px;
          z-index: 2;
        }
        .content {
            padding: 0;
            position: relative;
            overflow: hidden;
            z-index: 3;
        }

        h1 {
            font-family: 'Holtwood One SC',serif;
            letter-spacing: 4px;
            
            float: left;
            z-index: 1006;
            margin: 0 0 0 1%;
            width: 60%;
            font-size: modular-scale($base-font-size, 1, $type-ratio);
            white-space: nowrap;

            @include media ($large-screen) {
              font-size: modular-scale($base-font-size, 2, $type-ratio);
                width: 40%;
            }

            a {
              color: #fff;
            }
            .initial {
              font-size: 141%;
              margin-right: 0;
              vertical-align: bottom;
            }
        }
        
        .nav-menu {
            color: $navigation-color-hover;
            cursor: pointer;
            display: block;
            float: right;
            font-family: $sans-serif;
            font-weight: 700;
            line-height: $navigation-height;
            margin: 0;
            padding-right: 1em;
            text-transform: uppercase;

            @include media ($large-screen) {
                display: none;
            }

            &:hover {
                color: $navigation-color-hover;
           }
        }
        nav {
            clear: both;
            width: 100%;
            @include media ($large-screen) {
                width: 56%;
                clear: none;
                float: left;
                margin-left: 2%;
            } 
            ul {
                display: none;
                float: right;
                background-color: #000;
                padding-right: .3em;
                @include media ($large-screen) {
                    display: block;
                    float: left;
                    padding-right: 0;
                }
                li {
                    border-bottom: 1px solid #fff;
                    padding: .55em;
                    @include media ($large-screen) {
                        padding: 0;
                        border: none;
                        float: left;
                        margin-right: 17px;
                    }
                }
            }
        }

        a {
            color: #999999;
            font-weight: bold;
            font-size: modular-scale($base-font-size, -1, $type-ratio);
            @include transition (color 1.0s);
        }
        
        a:hover {
            color: #ffffff;
        }
    }
}
        
    div[role] {
        @include outer-container;
        min-height: 100px;
        margin: 0 auto 0;
        padding-top: 100px;
    }

section {
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 -1px 7px rgba(78, 68, 60, 0.3);
    background-color: $section-color;
    padding: .6em;
    margin: 1em 0;
    overflow: hidden;
    clear: both;
        
    h2 {
        font-weight: 700;
        border-bottom: 1px inset black;
    }

    h3 {
        font-weight: 700;
    }

    p, ul {
        font-weight: 500;
        margin-bottom: .5em;
    }

    .modal {
      display: none;
    }

 }

footer {
  $footer-background: desaturate(darken(#000, 20), 30);
  $footer-color: #fff;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  padding: $base-line-height $base-line-height 0;
  position: relative;
  overflow: hidden;
  width: 100%;

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
    margin-bottom: 0;
  }

  .footer-logo img {
    height: 1.6em;
  } 

  ul {
    margin-bottom: 1em;
    @include media($large-screen) {
      float: left;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    padding-right: 1em;
    font-weight: 800;
    color: $footer-link-color;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: .8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin-top: 1em;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        float: left;
        font-size: 1em;
        padding-right: .7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        opacity: .7;
        height: 1.9em;
        padding: 1px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

article {
  footer {
    background: none;
    padding: 1.0em 1.5em 1em 0;
    font-style: italic;
  }
}
.music {
    .content {
      @include outer-container;
      
      img {
        @include span-columns(4);
        
      }
      .description {
        @include span-columns(8);
        .release {
          display: block;
          margin-top: 1em;
        }
      }
    }

    iframe {
        border: 0;
        width: 100%;
        height: 42px;
        margin-top: 1em;
    }
}

.project {
    @include outer-container;
    margin-bottom: 2em;
    min-height: 650px;
    img {
      @include span-columns(4);
    }

    .content {
      @include span-columns(8);
    }
}

